$color-sun: #edc951;
$color-cloud: #00a0b0;
$color-cloud-light: #00cee3;
$color-cloud-dark: #008997;
$color-rain-cloud: #666;
$color-rain-cloud-light: #999;
$color-rain-cloud-dark: #555;
$color-snow-cloud: #ccc;
$color-main-background: #222;
$color-rainbow-red: #bd1e52;
$color-rainbow-red: #bd1e52;
$color-rainbow-orange: #e88024;
$color-rainbow-yellow: #f8cb10;
$color-rainbow-green: #899c3b;
