/* --- common --- */
.data-type-wrapper {
    padding-top: 10px;
}

.data-type-icon {
    max-width: 30px;
    max-height: 30px;
    flex-grow: 1;
    opacity: 0.7;
}

.data-type-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.data-type-icon.selected {
    opacity: 1;
}

/* --- large screens --- */
.large-screen .data-type-wrapper {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* --- small screens --- */
.small-screen .data-type-wrapper {
    margin-bottom: 70px;
}

.small-screen .data-type-icon {
    display: block;
    margin: 0 auto 30px auto;
}
