/* --- common --- */
.input-wrapper {
    background-color: rgba(240, 248, 255, 0.3);
    position: absolute;
    z-index: 999;
}

/* --- large screens --- */
.input-wrapper.large-screen {
    width: 400px;
    padding: 10px 30px 40px 30px;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* --- small screens --- */
.input-wrapper.small-screen {
    width: 60px;
    margin: 10px 0 0 10px;
    padding: 10px 20px 30px 20px;
    text-align: center;
}

/* for extreme small screens */
@media screen and (max-width: 400px) {
    .input-wrapper.small-screen {
        width: 50px;
        margin-top: 10px;
    }
}