.rc-slider-mark-text {
    font-size: 1.1em;
    color: rgb(32 32 32 / 84%);
}

/* --- small screens --- */
.rc-slider-vertical {
    height: 300px;
}

/* for extreme small screens */
@media screen and (max-height: 630px) {
    .rc-slider-vertical {
        height: 270px;
    }
}