.page-info {
    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
}

/* --- info button --- */
.page-info-btn {
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
/* ------------------- */

/* --- info content --- */
.page-info-content {
    width: 500px;
    height: 100%;
    padding: 10px 30px 30px 30px;
    background: rgba(255, 255, 255, 1);
}

.close-btn {
    padding: 2px 4px 2px 4px;
    border-radius: 50px;
    cursor: pointer;
    background: #3697d1;
    transition: background-color .15s;
}

.close-btn:hover {
    background-color: #f7a715;
}

.close-icon {
    font-size: 25px;
    color: white;
    position: relative;
    top: 0.8px; 
    left: 0.2px;
}
/* ------------------- */
