.page-info {
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;
}

/* --- info button --- */
.page-info-btn {
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* ------------------- */

/* --- info content --- */
.page-info-content {
  max-width: 500px;
  height: 100%;
  padding: 10px 30px 30px 30px;
  background: rgba(255, 255, 255, 1);
  overflow: auto;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* links */
.page-info-content a {
  text-decoration: none;
}

.page-info-content a:link {
  color: rgb(20, 108, 215);
}

.page-info-content a:visited {
  color: rgb(123, 61, 174);
}

.page-info-content a:active {
  color: rgb(241, 68, 68);
}

/* close button */
.close-btn-wrapper {
  text-align: end;
}

.close-btn {
  padding: 2px 4px 2px 4px;
  border-radius: 50px;
  cursor: pointer;
  background: #3697d1;
  transition: background-color 0.15s;
}

.close-btn:hover {
  background-color: #f7a715;
}

.close-icon {
  font-size: 25px;
  color: white;
  position: relative;
  top: 1.8px;
  left: 0.2px;
}

/* single contribution block */
.contribution-info {
  margin-bottom: 40px;
}

.contribution-title {
  color: #1e7eb6;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 5px;
}

/* rect-leflet */
.react-leaflet-info img {
  width: 80%;
  display: block;
  margin: auto;
}

/* lobelia */
.lobelia-info-wrapper {
  display: flex;
}

.lobelia-info-content {
  margin-right: 15px;
  flex-shrink: 1;
}

.lobelia-info-wrapper img {
  width: 88px;
  height: 88px;
  border-radius: 20px;
  flex-grow: 5;
}

/* tools list */
.tools-list {
  padding-inline-start: 20px;
}

.tools-list li {
  margin-bottom: 5px;
}

/* github-logo */
.github-logo {
  text-align: center;
}

.github-logo a {
  transition: opacity 0.15s;
}

.github-logo a:hover {
  opacity: 0.6;
}
/* ------------------- */


/* --- loading ring --- */
.loader-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.page-info .lds-ring {
  position: relative;    
}

.page-info .lds-ring div {
  left: -30px;
}
/* ------------------- */
